<!-- Content Wrapper. Contains page content -->


<!-- Main content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
        <mat-spinner style="top:400px; left:40%;"></mat-spinner>
    </div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>View Report</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard" >Home</a></li>
                        <li class="breadcrumb-item active">View Report</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Select the date range to Generate Report</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- Date range -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>From Date:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" [(ngModel)]="fromDate">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <!-- /.form group -->

                                <!-- Date range -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>To Date:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="date" class="form-control float-right" [(ngModel)]="toDate">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </div>

                                <!-- /.form group -->

                                <!-- Date and time range -->
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label style="padding-bottom: 14px;"></label>

                                        <div class="input-group">
                                            <button (click)="generateReport()"
                                                class="btn btn-primary float-right">Generate
                                                Report</button>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label style="padding-bottom: 14px;"></label>

                                        <div class="input-group">
                                            <button (click)="exportexcel()"
                                                class="btn btn-primary float-right">Export
                                                Report</button>

                                        </div>
                                    </div>
                                </div>
                                <!-- /.form group -->

                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.card -->


                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

        <div class="card">

            <div class="card-body">
                <table id="excel-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Candidate name</th>
                            <th>Template name</th>
                            <th>Job Role</th>
                            <th>Date of generate(s)</th>
                            <th>Level</th>
                            <th>SID</th>
                            <th>Training Partner</th>
                            <th>Batch ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let report of reports">
                            <td>{{report.candidateName}}</td>
                            <td>{{report.templateName}}</td>
                            <td>{{report.courseName}}</td>
                            <td>{{report.generatedOn | date | uppercase}}</td>
                            <td>{{report.level}}</td>
                            <td>{{report.sid}}</td>
                            <td>{{report.trainingPartner}}</td>
                            <td>{{report.batchId}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</div>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->