<!-- Main Footer -->
<footer class="main-footer" style="padding-left: 36%;margin-left: 0px;">
    <strong>Copyright &copy; 2020 <a href="http://urbanitestech.com">Urbanites Technologies</a>.</strong>
    All rights
    reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.0.4
    </div>
</footer>