.loader-container{
    position: absolute;
    height: 100%;
    background : black;
    opacity: 0.8;
    width : 85%;
    z-index: 99;
    stroke: #007bff;
}

.loader-container-internal{
    position: absolute;
    height: 100%;
}