<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div *ngIf="showSpinner" class="loader-container">
    <div style="top:35%; left:35%" class="loader-container-internal">
        <circle-progress [percent]="progressPercentage" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="false" [animationDuration]="10000">
        </circle-progress>
    </div>
    </div>

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Generate Certificate</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Generate Certificate</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Bulk Upload</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Select Template</label>
                            <select class="form-control select2" style="width: 100%;" [(ngModel)]="selectedValue">
                                <option value='0'>Choose Template</option>
                                <option *ngFor="let template of templates" value={{template.id}}#{{template.image_type}}>
                                    {{template.templateName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form">
                        <div class="card-body">
                            <label for="exampleInputFile">File input</label>
                            <!-- <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>

                                </div> -->


                            <div class="input-group">
                                <div class="custom-file">
                                    <input class="form-control" type="file" (change)="onChange($event)"
                                        accept=".xlsx, .xls" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            <div class="row" *ngIf="getImageEnabledTemplateStatus() == '1'">
                <div class="col-md-6">
                    <div class="form">
                        <div class="card-body">
                            <label for="exampleInputFile">Image Zip File</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input class="form-control" type="file" (change)="onChangeZip($event)"
                                        accept=".zip" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="getImageEnabledTemplateStatus() == '2' || getImageEnabledTemplateStatus() == '3'">
                <div class="col-md-6">
                    <div class="form">
                        <div class="card-body">
                            <label for="exampleInputFile">Logo Image</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input class="form-control" type="file" (change)="onChangeLogoImage($event)"
                                        accept="image/*" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="getImageEnabledTemplateStatus() == '3'">
                <div class="col-md-6">
                    <div class="form">
                        <div class="card-body">
                            <label for="exampleInputFile">Sign Image</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input class="form-control" type="file" (change)="onChangeSignImage($event)"
                                        accept="image/*" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-footer">
                        <button (click)="generateCertificate()" class="btn btn-primary">Generate Certificate</button>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.content -->

    </section>
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->