<div *ngIf="loginService.isUserLoggedIn()">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a routerLink="dashboard" class="nav-link">Home</a>
            </li>

        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item d-none d-sm-inline-block">
                <a href="login" class="nav-link " routerLinkActive="active" routerLink="login">
                    Login
                </a>
            </li> -->
            <li class="nav-item d-none d-sm-inline-block">
                <a href="logout" class="nav-link " routerLinkActive="active" routerLink="logout">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="dashboard" class="brand-link" routerLink="dashboard">
            <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                style="opacity: .8">
            <span class="brand-text font-weight-light">GenKart</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="dashboard" class="d-block" routerLink="dashboard">{{username}}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview">
                        <a href="dashboard" class="nav-link" routerLinkActive="active" routerLink="dashboard">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="profile" class="nav-link " routerLinkActive="active" routerLink="profile">
                            <i class="nav-icon fas fa-user-tie"></i>
                            <p>Profile</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="generate" class="nav-link " routerLinkActive="active" routerLink="generate">
                            <i class="nav-icon fas fa-book"></i>
                            <p>Generate Certificate</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="report" class="nav-link " routerLinkActive="active" routerLink="report">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>Report</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</div>