<body class="hold-transition login-page">
    <div class="login-box" style="background-color:#0080b1">
        <div class="login-logo">
          <a href="#"><b>Gen</b>Kart</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Thanks for using our Application.</p>
            <!-- /.social-auth-links -->
            <br>
            <p class="mb-1">
              <a routerLink="/login" >Click here to login again</a>
            </p>
            <!-- OR
            <p class="mb-0">
              <a routerLink="/register" class="text-center">Register a new membership</a>
            </p> -->
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
      <!-- /.login-box -->
    </body>
